<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mdpchange.css">
    <title>Mot de passe changé</title>
</head>
<body>
<div class="confirmation-container">
    <div class="confirmation-content">
        <h2>Mot de passe changé avec succès !</h2>
        <p>Votre mot de passe a été réinitialisé avec succès.</p>
        <a href="/page1/login">Retour à la page de connexion</a>
    </div>
</div>
</body>
</html>
